<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>asdw</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <h1>Tus tareas</h1>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="#">Sobre Nosotros</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="container mt-5">
            <h2>Materias</h2>
            <div>
                <div class="materias">
                    
                        <div>
                            <a href="/estadistica">
                                <img class="mat_img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYxyhpqE03v_YpDGFQN3R0cb0mcB87NSpbvg&s" alt="">
                                <h4>Estadistica</h4>    
                            </a>
                        </div>
                    
                    <div>
                        <img class="mat_img" src="https://www.unamenlinea.unam.mx/recursos/img/81817/calculo.jpg" alt="">
                        <h4>calculo</h4>
                    </div>
                    <div>
                        <img class="mat_img" src="https://loopgk.com/wp-content/uploads/2021/02/lenguaje-min.jpg" alt="">
                        <h4>Programacion</h4>
                    </div>
                </div>
            </div>
        </div>
        <aside class="container mt-5">
            <h3>Noticias Recientes</h3>
            <p>Últimas actualizaciones y noticias.</p>
        </aside>
    </main>

    <footer>
        <p>&copy; 2024 Mi Sitio Web. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
