<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
	<link rel="stylesheet" href="/css/login.css">
	<link rel="stylesheet" href="/css/login1.css">
</head>

<body>

	<div class="container" id="container">
		<div class="form-container sign-up-container">

			<form action="/login/add" method="POST">
				<h1>Crear Cuenta</h1>
				<div class="social-container">
					<a href="https://www.facebook.com/Bestoldiemusic/videos/rick-astley-never-gonna-give-you-up/1575858219482722/"
						class="social"><i class="fab fa-facebook-f"></i></a>
					<a href="https://x.com/YofuiaEGB/status/1560191178150125576" class="social"><i
							class="fa-brands fa-x-twitter"></i></a>
					<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&pp=ygUXbmV2ZXIgZ29ubmEgZ2l2ZSB5b3UgdXA%3D"
						class="social"><i class="fa-brands fa-youtube"></i></a>
				</div>

				<button type="button" data-toggle="modal" data-target="#addUsuario">Crear Usuario</button>

			</form>
		</div>

		<div class="modal fade" id="addUsuario" tabindex="-1" role="dialog" aria-labelledby="addUsuarioModal"
			aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="addUsuarioModal">Agregar Usuario</h5>
					</div>
					<div class="modal-body">
						<form action="/login/add" enctype="multipart/form-data" method="POST">
							<div class="form-group">
								<label for="name">Nombres:</label>
								<input type="text" class="form-control" id="name" name="name" required>
							</div>
							<div class="form-group">
								<label for="middleName">Primer Apellido:</label>
								<input type="text" class="form-control" id="middleName" name="middleName" required>
							</div>
							<div class="form-group">
								<label for="lastName">Segundo Apellido:</label>
								<input type="text" class="form-control" id="lastName" name="lastName" required>
							</div>
							<div class="form-group">
								<label for="carrera">Carrera:</label>
								<select id="carrera" name="carrera" required>
									<option value="Administracion">Administracion</option>
									<option value="Gastronomia">Gastronomia</option>
									<option value="Programacion">Programacion</option>
								</select>
							</div>
							<div class="form-group">
								<label for="email">Correo:</label>
								<input type="email" class="form-control" id="email" name="email"
									required>
							</div>
							<div class="form-group">
								<label for="phone">Telefono:</label>
								<input type="tel" class="form-control" id="phone" name="phone"
									required>
							</div>
							<div class="form-group">
								<label for="username">Nombre de Usuario:</label>
								<input type="text" class="form-control" id="username" name="username">
							</div>
							<div class="form-group">
								<label for="password">Contraseña:</label>
								<input type="password" class="form-control" id="password" name="password">
							</div>
							<div class="form-group">
								<label for="file">Fotografia:</label>
								<input type="file" class="form-control"  id="file" name="file">
							</div>

							<button type="submit" class="btn btn-primary">Agregar</button>
						</form>
					</div>
					<div class="modal-footer">
						<button class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
					</div>
				</div>
			</div>
		</div>




		<div class="form-container sign-in-container">
			<% if (typeof message !=='undefined' ) { %>
				<div class="alert alert-danger">
					<%= message %>
				</div>
				<% } %>
					<form action="/login" method="POST">
						<h1>Ingresar</h1>
						<div class="social-container">
							<a href="https://www.facebook.com/Bestoldiemusic/videos/rick-astley-never-gonna-give-you-up/1575858219482722/"
								class="social"><i class="fab fa-facebook-f"></i></a>
							<a href="https://x.com/YofuiaEGB/status/1560191178150125576" class="social"><i
									class="fa-brands fa-x-twitter"></i></i></a>
							<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&pp=ygUXbmV2ZXIgZ29ubmEgZ2l2ZSB5b3UgdXA%3D"
								class="social"><i class="fab fa-youtube"></i></a>
						</div>
						<div  class="form-group">
							<input  type="text" id="username" placeholder="Usuario o Correo" name="username" required>
						</div>
						<div class="form-group">
							<input type="password" id="password" placeholder="Contraseña" name="password" required>
						</div>

						<button type="submit">Login</button>

					</form>
		</div>





		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-left">
					<h1>¿Ya Estas Registrado?</h1>
					<p>Ingresa Con Tu Usuario y Contraseña</p>
					<button class="ghost" id="signIn">Inicia Sesion</button>
				</div>
				<div class="overlay-panel overlay-right">
					<h1>Hola, ¿Eres Nuevo?</h1>
					<p>Registrate Para Poder Ingresar</p>
					<button class="ghost" id="signUp">Crear Cuenta</button>
				</div>
			</div>
		</div>
	</div>

	<script>
		const signUpButton = document.getElementById('signUp');
		const signInButton = document.getElementById('signIn');
		const container = document.getElementById('container');

		signUpButton.addEventListener('click', () => {
			container.classList.add("right-panel-active");
		});

		signInButton.addEventListener('click', () => {
			container.classList.remove("right-panel-active");
		});
	</script>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>