
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mi Sitio Web</title>
  
  <link rel="stylesheet" href="/css/sidebar.css">
</head>
<body>
    <nav class="main-menu">
        <ul>
            <li>
                <a href="/proyecto">
                    <i class="fa fa-home fa-2x"></i>
                    <span class="nav-text">
                       Inicio
                    </span>
                </a>
              
            </li>
      
            <li>
                <a href="/proyecto/tareas">
                    <i class="fa fa-book fa-2x"></i>
                    <span class="nav-text">
                       Trabajos
                    </span>
                </a>
            </li>
      
      
            <li>
                <a href="/proyecto/tareas">
                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                    <span class="nav-text">
                       Pendientes
                    </span>
                </a>
            </li>
        </ul>
      
        <ul class="usuario">
            <li>
               <a href="/login/usuarios">
                     <i class="fa fa-user fa-2x"></i>
                    <span class="nav-text">
                        Usuario
                    </span>
                </a>
            </li>  
        </ul>
        <ul class="logout">
            <li>
               <a href="/login/logout">
                     <i class="fa fa-power-off fa-2x"></i>
                    <span class="nav-text">
                        Logout
                    </span>
                </a>
            </li>  
        </ul>
        
        
      </nav>
</body>
</html>
